/* Define as variáveis para utilização de cores*/
:root {
  --cor-fundo: rgb(90, 226, 187);
  --cor-main: rgb(65, 120, 209);
  --cor-main-dark: rgb(21, 27, 205);
  --cor-fonte: rgb(255 255 255);
  --jogadorX: rgb(100 100 100);
}

/* Realiza o reset das configurações do navegador*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Nosifer', serif;
  outline: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Definição do barra de navegação */
.bg-cor-que-eu-quero {
  background: rgb(65, 120, 209);
}

#titulo {
  margin-top: 1rem;
  font-size: 1rem;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav a {
  color: var(--cor-fonte);
}

/* Ajusta as configurações do container*/
.principal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.principal a {
  height: 4rem;
}

i {
  font-size: 3rem;
}

#container-top {
  margin-top: 5rem;
}

.tabuleiro {
  width: 27rem;
  height: 27rem;
  margin: auto;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.celula {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  margin: .5rem;
  box-shadow: .25rem .25rem rgba(0, 0, 0, .3);
}

/* Definições do slider (galeria) */
#slider {
  margin-top: 1em;
  margin-bottom: 1em;
}

#slider .carousel-caption {
  bottom: 1em;
}

#slider .carousel-caption h5 {
  font-size: 2.5em;
  text-shadow: #000 2px 2px;
}

.btn {
  border-radius: 0;
}

#slider .btn {
  padding: 0.3em 0.7em;
  font-size: 1em;
  margin-top: 4em;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0.7;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: rgb(233, 229, 229);
  font-size: 3em;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(231, 204, 204);
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: #000;
}

@media (min-width: 768px) {
  #slider .carousel-caption {
    bottom: 1em;
  }

  #slider .carousel-caption h5 {
    font-size: 2em;
    text-shadow: #000 2px 3px;
  }

  #slider .btn {
    padding: 0.6em 1em;
    font-size: 1em;
    margin-top: 1em;
  }

  .carousel-indicators {
    bottom: 0.25em;
  }
}

.texto {
  font-size: 0.75rem;
  text-align: justify;
}

i {
  
  align-items: center;
  font-size: 2.5em;
  margin: .125em;
}